flow.json
[{"id":"3ef4d656.b1f902","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5690eb3.9b51194","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ee925d56.748d58","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"5e0adb83.f6785c","type":"ui_group","name":"Group 1","tab":"ee925d56.748d58","order":1,"disp":true,"width":6},{"id":"41a685a.37cb7fc","type":"ui_group","name":"Group 2","tab":"ee925d56.748d58","order":2,"disp":true,"width":6},{"id":"a6c15aed.3bfb8","type":"debug","z":"3ef4d656.b1f902","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":380,"wires":[]},{"id":"6ab82f60.5c5d3","type":"ui_button","z":"3ef4d656.b1f902","name":"but","group":"5e0adb83.f6785c","order":0,"width":0,"height":0,"passthru":true,"label":"Button Test","tooltip":"Tooltip","color":"#000000","bgcolor":"#ffffff","icon":"","payload":"msg.payload","payloadType":"str","topic":"test","x":190,"y":80,"wires":[[]]},{"id":"befbfa69.101ce8","type":"ui_dropdown","z":"3ef4d656.b1f902","name":"drd","label":"Dropdown","tooltip":"Tooltip","place":"Select option","group":"5e0adb83.f6785c","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"a","value":"a","type":"str"},{"label":"b","value":"b","type":"str"},{"label":"c","value":"c","type":"str"}],"payload":"","topic":"msg.topic","x":210,"y":160,"wires":[[]]},{"id":"a37b7e5a.7592b8","type":"ui_switch","z":"3ef4d656.b1f902","name":"swi","label":"switchtest","tooltip":"Tooltip","group":"5e0adb83.f6785c","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"msg.topic","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":260,"y":220,"wires":[[]]},{"id":"366d7069.b18b18","type":"ui_slider","z":"3ef4d656.b1f902","name":"sli","label":"Slider Test","tooltip":"Tooltip","group":"5e0adb83.f6785c","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"msg.topic","min":0,"max":"10000","step":"10","x":380,"y":180,"wires":[[]]},{"id":"9a724d19.90c1","type":"ui_numeric","z":"3ef4d656.b1f902","name":"num","label":"numerictest","tooltip":"Tooltip","group":"5e0adb83.f6785c","order":4,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"msg.topic","format":"{{value}}","min":0,"max":"10000","step":"10","x":390,"y":260,"wires":[[]]},{"id":"7673561b.ee7ea8","type":"ui_text_input","z":"3ef4d656.b1f902","name":"tin","label":"textinput","tooltip":"Tooltip","group":"5e0adb83.f6785c","order":5,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"msg.topic","x":450,"y":320,"wires":[[]]},{"id":"5e829a65.eed66c","type":"ui_date_picker","z":"3ef4d656.b1f902","name":"dat","label":"datetest","group":"5e0adb83.f6785c","order":6,"width":0,"height":0,"passthru":true,"topic":"msg.topic","x":540,"y":420,"wires":[[]]},{"id":"dcd08bf9.10b8f","type":"ui_colour_picker","z":"3ef4d656.b1f902","name":"clr","label":"colortest","group":"5e0adb83.f6785c","format":"hex","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showHue":true,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":7,"width":0,"height":0,"passthru":true,"topic":"msg.topic","x":460,"y":500,"wires":[[]]}]